<h1>Code Challenge</h1>



    <% @posts.each do |post| %>

      <% #Get the array of words in each paragraph %>
      <% array = post.split(" ") %>
         <% i=0  %>

       <% #Traverse the highlights hashes %>

       <% @highlighty.each do |highlight| %>


            <% #Generate the array of words to highlight in each hash %>

            <% newray=Array.new %>
            <% for i in highlight[:start]..highlight[:end] do
              newray.push(array[i])
              to_highlight = newray.to_s.tr('[]"",', '')
              end %>

         <% #Display the paragraphs with the highlighted words with a unique diff backgrounf color %>

           <% if highlight[:start] >= 20 && highlight[:end] <= 35 %>
                <div class="jumbotron">

                  <p class="text-primary"><%= link_to  highlight( post , to_highlight.split), "home", :title => "Foo" %></p>

               </div>

            <% end %>
            <% if highlight[:start] >= 73 && highlight[:end] <= 92 %>

                <div class="jumbotron">

                  <p class="text-warning"><%= link_to  highlight( post , to_highlight.split), "home", :title => "Bar" %></p>

               </div>
            <% end %>

            <% if highlight[:start] >= 50 && highlight[:end] <= 98 %>

             <div class="jumbotron">

               <p class="text-success"><%= link_to  highlight( post , to_highlight.split), "home", :title => "Baz" %></p>

             </div>

            <% end %>






       <% end %>

    <% end %>
